@model List<productmodel>
@{
    ViewData["Title"] = "showcart";
}
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>نام</th>
            <th>دسته بندی</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td> <!-- اشاره مستقیم به product -->
                <td>@item.categuryid</td>
                <td><a asp-action="deletecart" asp-controller="Home" asp-route-id="@item.id">حذف</a></td>
            </tr>
        }

    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-action="InitiatePayment">پرداخت</a>
</p>
