@model List<CategoryesDto>
@{
}
<<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
      @foreach (var item in Model)
    {
        <ul>
            <li>
                @item.name
            </li>
        </ul>
    }
    </body>
    </html>